<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Programación Visual</title>
		<link rel="stylesheet" href="../static/css/estilos.css">
	</head>
	<body>
		<header>
			<h1>Bienvenido a Programación Visual</h1>
		</header>
		<nav>
			<ul>
				<li><a href="#inicio">Inicio</a></li>
				<li><a href="./form-cliente.html">Registro</a></li>
				<li><a href="#sobre-nosotros">Sobre nosotros</a></li>
				<li><a href="#contacto">Contacto</a></li>
			</ul>
		</nav>
		<hr>
		<main>
			<section id="inicio">
				<h2>Carrera: Analista Programador Universitario</h2>
				<p>Materia de 2do año de la carrera de Analista Programador
					Universitario</p>
				<ol>
					<li>Apaza, Carolina</li>
					<li>Vega, Ariel</li>
					<li>Rodriguez, Juan Carlos</li>
					<li>Sosa, Gustavo</li>
				</ol>
			</section>
			<hr>
			<section id="sobre-nosotros">
				<h2>Perfil del graduado:</h2>
				<p>El Profesional egresado de la carrera Analista Programador Universitario, tiene la formación, conocimientos y habilidades para:</p>
				<ol>
					<li>Manejar los distintos paradigmas de la programación.</li>
					<li>Seleccionar y aplicar lenguajes de programación de diferentes características.</li>
					<li>Desarrollar un pensamiento lógico y estructurado que le permita un correcto y eficiente desempeño en las actividades relacionadas con la programación y administración de datos.</li>
					<li>Es capaz de interpretar e implementar el diseño de una aplicación.</li>
				</ol>
				<h2>Alcances del Título:</h2>
				<p>El título profesional obtenido por el Egresado de la carrera de Analista Programador Universitario, lo habilita para:</p>
				<ol>
					<li>Programar, documentar, instalar, poner en marcha, operar, modificar, probar, medir, mantener y transformar software en general o incluido en sistemas informáticos.</li>
					<li>Asistir al Profesional de grado informático en tareas de relevamiento y análisis y diseño de sistemas informáticos de cualquier envergadura.</li>
					<li>Participar en equipos de trabajo para desarrollo o transferencia tecnológica relacionados con la producción y/o manipulación de software.</li>
				</ol>
				<h3>Horarios</h3>
				<table>
					<thead>
						<tr>
							<th>Materia</th>
							<th>Dia</th>
							<th>Horario</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Programación Visual - Práctica</td>
							<td>Lunes</td>
							<td>18:00hs - 21:00hs</td>
						</tr>
						<tr>
							<td>Programación Visual - Teoría</td>
							<td>Miércoles</td>
							<td>14:00hs - 17:00hs</td>
						</tr>
					</tbody>
				</table>
			</section>
			<hr>
			<section id="contacto">
				<h2>Contacto</h2>
				<p>FACULTAD DE INGENIERÍA - UNJu</p>
				<table>
					<thead>
						<tr>
							<th>Dirección</th>
							<th>Provincia</th>
							<th>Correo</th>
							<th>Número</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Ítalo Palanca Nº 10</td>
							<td>San Salvador de Jujuy, Jujuy - Argentina</td>
							<td>info@fi.unju.edu.ar</td>
							<td>0388 422-1580</td>
						</tr>
					</tbody>
				</table>
			</section>
		</main>
		<hr>
		<aside>
			<h3>RESOLUCIÓN CAFI N° 259/07</h3>
			<h3><a href="https://drive.google.com/file/d/1yCfcDNsaZMPtimcFgzZ0p5VwqLxDH5Lg/view?usp=sharing">Plan de estudio vigente</a></h3>
			<br>
			<img src="../static/img/aside.png" alt="Sin imagen">
		</aside>
		<hr>
		<footer>
			<h4>Correo: info@fi.unju.edu.ar</h4>
			<div>
				<h4>Redes Sociales</h4>
				<a href="https://es-la.facebook.com/unjuvirtual/" target="_blank"><img src="../static/img/facebook-icon.svg" alt="facebook" width="65"
					height="65"></a>
				<a href="https://www.instagram.com/unjuvirtual/" target="_blank"><img src="../static/img/instagram-icon.svg"
					alt="instagram" width="65" height="65"></a>
			</div>
			<p>Copyright © 2024 - Cristian Rojas</p>
		</footer>
	</body>
</html>